@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<div>Welcome to the wonderful world of Ode to Food.</div>

<p>Use this area to provide additional information.</p>
